[mysqld]

general_log = 1
general_log_file = /var/lib/mysql/general.log

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

wait_timeout = 300
interactive_timeout = 300

innodb_file_per_table = 1

innodb_flush_log_at_trx_commit = 1
innodb_flush_method = fsync

max_connections = 200

query_cache_type = 1
query_cache_size = 32M